
/* ================ MAIN LAYOUT ELEMENTS ================ */

body,html{
    height:100%;
}


#site-wrapper{
    height:100%;
    min-height: 100%;
    height: auto;
    margin-bottom:-$footer-height+px;
    position:relative;
    overflow:hidden;
}

*{
    @include border-box('../assets/js/vendor/border-box.htc');
}

.row {
    @include container;
    
    .row{
        margin-left:-$grid-padding;
        margin-right:-$grid-padding;
        
    } // Nudge back nested rows

    @for $i from 1 through $total-columns{
        .grid-#{$i}{
            @include span-columns($i);
                        
            &.end{
                @include omega;
            }
        }

    }
}

#three{
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    z-index:999999;
}

.game-board{
    position:relative;
    @include block-left;
    width:100%;
    padding-top:100px;

    ul{
        list-style-type:none;
        @include reset-box;

        li{
            
            float:left;
            margin:0 20px 0 0;
            position:relative;
            width:150px;
            height:200px;

            a{
                @include block-left;
                width:100%;
                height:100%;
                text-decoration: none;
                outline: none;

                &.over{
                    .front{
                        z-index: 5;
                        @include rotateY(180deg);
                    }
                    .back{
                        z-index: 10;
                        @include rotateY(0deg);
                    }
                }

                .front,
                .back{
                    @include block-left;
                    text-decoration:none;
                    outline:none;
                    @include transform-style(preserve-3d);
                    @include backface-visibility(hidden);
                    @include transition(0.75s);
                    width:150px;
                    height:200px;
                    @include border-radius(10px);
                    background-color:#eee;
                    border:3px solid black;
                    @include box-shadow(0px 0px 10px 4px #777);
                    color:black;
                    text-align: center;
                    padding-top:50%;
                }

                .front{
                    position:absolute;
                    z-index:5;
                    left:10px;
                }

                .back{
                    position:absolute;
                    top:0;
                    left:10px;
                    z-index:1;
                    @include rotateY(-180deg);
                }
            }
        }
    }

}